body {
	background-color: white;
}

.container {
	background-color: white;
	padding: 20px;
	width: 80%;
	margin: 50px auto 20px auto;
}

h1 {
	text-align: center;
}

form {
	text-align: center;
	padding-bottom: 20px;
}

.input {
	padding: 10px;
	border-radius: 10px;
	background-color: transparent;
}

.button {
	padding: 10px;
	border-radius: 10px;
	background-color: transparent;
}

output {
}

footer {
	text-align: center;
}
